@import url(https://use.typekit.net/ojv4ekx.css);

a,
body,
code,
dd,
details,
div,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
menu,
p,
s,
section,
span,
strong,
sub,
u,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

details,
figcaption,
figure,
footer,
header,
menu,
section {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: none
}

/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	align-items: center;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
	display: inline-flex;
	font-size: 1rem;
	height: 2.5em;
	justify-content: flex-start;
	line-height: 1.5;
	padding-bottom: calc(.5em - 1px);
	padding-left: calc(.75em - 1px);
	padding-right: calc(.75em - 1px);
	padding-top: calc(.5em - 1px);
	position: relative;
	vertical-align: top
}

.button:active,
.button:focus {
	outline: 0
}

[disabled].button {
	cursor: not-allowed
}

.button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.box:not(:last-child),
.content:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.subtitle:not(:last-child),
.title:not(:last-child) {
	margin-bottom: 1.5rem
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img,
.image.is-square img,
.is-overlay {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body,
dd,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
	margin: 0;
	padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400
}

ul {
	list-style: none
}

button {
	margin: 0
}

html {
	box-sizing: border-box
}

*,
::after,
::before {
	box-sizing: inherit
}

img {
	height: auto;
	max-width: 100%
}

html {
	background-color: #fff;
	font-size: 16px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	min-width: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%
}

figure,
footer,
header,
section {
	display: block
}

body,
button {
	font-family: europa, sans-serif
}

code {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	font-family: monospace
}

body {
	color: #141c3a;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5
}

a {
	color: #1a8cff;
	cursor: pointer;
	text-decoration: none
}

a strong {
	color: currentColor
}

a:hover {
	color: #363636
}

code {
	background-color: #f5f5f5;
	color: #da1039;
	font-size: .875em;
	font-weight: 400;
	padding: .25em .5em .25em
}

img {
	height: auto;
	max-width: 100%
}

span {
	font-style: inherit;
	font-weight: inherit
}

strong {
	color: #363636;
	font-weight: 700
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

@keyframes spinAround {
	from {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}

.box {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, .5), 0 0 0 1px #e6ecf8;
	color: #141c3a;
	display: block;
	padding: 1.25rem
}

a.box:focus,
a.box:hover {
	box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px #1a8cff
}

a.box:active {
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, .2), 0 0 0 1px #1a8cff
}

.button {
	background-color: #fff;
	border-color: #dbdbdb;
	border-width: 1px;
	color: #363636;
	cursor: pointer;
	justify-content: center;
	padding-bottom: calc(.5em - 1px);
	padding-left: 1em;
	padding-right: 1em;
	padding-top: calc(.5em - 1px);
	text-align: center;
	white-space: nowrap
}

.button strong {
	color: inherit
}

.button .icon,
.button .icon.is-medium {
	height: 1.5em;
	width: 1.5em
}

.button .icon:first-child:not(:last-child) {
	margin-left: calc(-.5em - 1px);
	margin-right: .25em
}

.button .icon:last-child:not(:first-child) {
	margin-left: .25em;
	margin-right: calc(-.5em - 1px)
}

.button .icon:first-child:last-child {
	margin-left: calc(-.5em - 1px);
	margin-right: calc(-.5em - 1px)
}

.button:hover {
	border-color: #b5b5b5;
	color: #363636
}

.button:focus {
	border-color: #1a8cff;
	color: #363636
}

.button:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(26, 140, 255, .25)
}

.button:active {
	border-color: #4a4a4a;
	color: #363636
}

.button.is-text {
	background-color: transparent;
	border-color: transparent;
	color: #141c3a;
	text-decoration: underline
}

.button.is-text:focus,
.button.is-text:hover {
	background-color: #f5f5f5;
	color: #363636
}

.button.is-text:active {
	background-color: #e8e8e8;
	color: #363636
}

.button.is-text[disabled] {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none
}

.button.is-white {
	background-color: #fff;
	border-color: transparent;
	color: #0a0a0a
}

.button.is-white:hover {
	background-color: #f9f9f9;
	border-color: transparent;
	color: #0a0a0a
}

.button.is-white:focus {
	border-color: transparent;
	color: #0a0a0a
}

.button.is-white:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(255, 255, 255, .25)
}

.button.is-white:active {
	background-color: #f2f2f2;
	border-color: transparent;
	color: #0a0a0a
}

.button.is-white[disabled] {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.button.is-white.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button.is-white.is-outlined:focus,
.button.is-white.is-outlined:hover {
	background-color: #fff;
	border-color: #fff;
	color: #0a0a0a
}

.button.is-white.is-outlined[disabled] {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button.is-light {
	background-color: #f5f5f5;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-light:hover {
	background-color: #eee;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-light:focus {
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-light:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(245, 245, 245, .25)
}

.button.is-light:active {
	background-color: #e8e8e8;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-light[disabled] {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	box-shadow: none
}

.button.is-light.is-outlined {
	background-color: transparent;
	border-color: #f5f5f5;
	color: #f5f5f5
}

.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:hover {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: rgba(0, 0, 0, .7)
}

.button.is-light.is-outlined[disabled] {
	background-color: transparent;
	border-color: #f5f5f5;
	box-shadow: none;
	color: #f5f5f5
}

.button.is-primary {
	background-color: #6e07f3;
	border-color: transparent;
	color: #fff
}

.button.is-primary:hover {
	background-color: #6807e7;
	border-color: transparent;
	color: #fff
}

.button.is-primary:focus {
	border-color: transparent;
	color: #fff
}

.button.is-primary:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(110, 7, 243, .25)
}

.button.is-primary:active {
	background-color: #6306da;
	border-color: transparent;
	color: #fff
}

.button.is-primary[disabled] {
	background-color: #6e07f3;
	border-color: #6e07f3;
	box-shadow: none
}

.button.is-primary.is-outlined {
	background-color: transparent;
	border-color: #6e07f3;
	color: #6e07f3
}

.button.is-primary.is-outlined:focus,
.button.is-primary.is-outlined:hover {
	background-color: #6e07f3;
	border-color: #6e07f3;
	color: #fff
}

.button.is-primary.is-outlined[disabled] {
	background-color: transparent;
	border-color: #6e07f3;
	box-shadow: none;
	color: #6e07f3
}

.button.is-primary.is-light {
	background-color: #f4ebfe;
	color: #730cf8
}

.button.is-primary.is-light:hover {
	background-color: #ecdffe;
	border-color: transparent;
	color: #730cf8
}

.button.is-primary.is-light:active {
	background-color: #e5d2fe;
	border-color: transparent;
	color: #730cf8
}

.button.is-link {
	background-color: #1a8cff;
	border-color: transparent;
	color: #fff
}

.button.is-link:hover {
	background-color: #0d86ff;
	border-color: transparent;
	color: #fff
}

.button.is-link:focus {
	border-color: transparent;
	color: #fff
}

.button.is-link:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(26, 140, 255, .25)
}

.button.is-link:active {
	background-color: #017fff;
	border-color: transparent;
	color: #fff
}

.button.is-link[disabled] {
	background-color: #1a8cff;
	border-color: #1a8cff;
	box-shadow: none
}

.button.is-link.is-outlined {
	background-color: transparent;
	border-color: #1a8cff;
	color: #1a8cff
}

.button.is-link.is-outlined:focus,
.button.is-link.is-outlined:hover {
	background-color: #1a8cff;
	border-color: #1a8cff;
	color: #fff
}

.button.is-link.is-outlined[disabled] {
	background-color: transparent;
	border-color: #1a8cff;
	box-shadow: none;
	color: #1a8cff
}

.button.is-link.is-light {
	background-color: #ebf5ff;
	color: #0068d1
}

.button.is-link.is-light:hover {
	background-color: #deeeff;
	border-color: transparent;
	color: #0068d1
}

.button.is-link.is-light:active {
	background-color: #d1e8ff;
	border-color: transparent;
	color: #0068d1
}

.button.is-info {
	background-color: #3e8ed0;
	border-color: transparent;
	color: #fff
}

.button.is-info:hover {
	background-color: #3488ce;
	border-color: transparent;
	color: #fff
}

.button.is-info:focus {
	border-color: transparent;
	color: #fff
}

.button.is-info:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(62, 142, 208, .25)
}

.button.is-info:active {
	background-color: #3082c5;
	border-color: transparent;
	color: #fff
}

.button.is-info[disabled] {
	background-color: #3e8ed0;
	border-color: #3e8ed0;
	box-shadow: none
}

.button.is-info.is-outlined {
	background-color: transparent;
	border-color: #3e8ed0;
	color: #3e8ed0
}

.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:hover {
	background-color: #3e8ed0;
	border-color: #3e8ed0;
	color: #fff
}

.button.is-info.is-outlined[disabled] {
	background-color: transparent;
	border-color: #3e8ed0;
	box-shadow: none;
	color: #3e8ed0
}

.button.is-info.is-light {
	background-color: #eff5fb;
	color: #296fa8
}

.button.is-info.is-light:hover {
	background-color: #e4eff9;
	border-color: transparent;
	color: #296fa8
}

.button.is-info.is-light:active {
	background-color: #dae9f6;
	border-color: transparent;
	color: #296fa8
}

.button.is-success {
	background-color: #5be9b9;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-success:hover {
	background-color: #50e7b4;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-success:focus {
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-success:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(91, 233, 185, .25)
}

.button.is-success:active {
	background-color: #45e6af;
	border-color: transparent;
	color: rgba(0, 0, 0, .7)
}

.button.is-success[disabled] {
	background-color: #5be9b9;
	border-color: #5be9b9;
	box-shadow: none
}

.button.is-success.is-outlined {
	background-color: transparent;
	border-color: #5be9b9;
	color: #5be9b9
}

.button.is-success.is-outlined:focus,
.button.is-success.is-outlined:hover {
	background-color: #5be9b9;
	border-color: #5be9b9;
	color: rgba(0, 0, 0, .7)
}

.button.is-success.is-outlined[disabled] {
	background-color: transparent;
	border-color: #5be9b9;
	box-shadow: none;
	color: #5be9b9
}

.button.is-success.is-light {
	background-color: #edfdf7;
	color: #11825c
}

.button.is-success.is-light:hover {
	background-color: #e2fbf3;
	border-color: transparent;
	color: #11825c
}

.button.is-success.is-light:active {
	background-color: #d7faee;
	border-color: transparent;
	color: #11825c
}

.button.is-danger {
	background-color: #f14668;
	border-color: transparent;
	color: #fff
}

.button.is-danger:hover {
	background-color: #f03a5f;
	border-color: transparent;
	color: #fff
}

.button.is-danger:focus {
	border-color: transparent;
	color: #fff
}

.button.is-danger:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(241, 70, 104, .25)
}

.button.is-danger:active {
	background-color: #ef2e55;
	border-color: transparent;
	color: #fff
}

.button.is-danger[disabled] {
	background-color: #f14668;
	border-color: #f14668;
	box-shadow: none
}

.button.is-danger.is-outlined {
	background-color: transparent;
	border-color: #f14668;
	color: #f14668
}

.button.is-danger.is-outlined:focus,
.button.is-danger.is-outlined:hover {
	background-color: #f14668;
	border-color: #f14668;
	color: #fff
}

.button.is-danger.is-outlined[disabled] {
	background-color: transparent;
	border-color: #f14668;
	box-shadow: none;
	color: #f14668
}

.button.is-danger.is-light {
	background-color: #feecf0;
	color: #cc0f35
}

.button.is-danger.is-light:hover {
	background-color: #fde0e6;
	border-color: transparent;
	color: #cc0f35
}

.button.is-danger.is-light:active {
	background-color: #fcd4dc;
	border-color: transparent;
	color: #cc0f35
}

.button.is-normal {
	font-size: 1rem
}

.button.is-medium {
	font-size: 1.25rem
}

.button[disabled] {
	background-color: #fff;
	border-color: #dbdbdb;
	box-shadow: none;
	opacity: .5
}

.button.is-rounded {
	border-radius: 9999px;
	padding-left: calc(1em + .25em);
	padding-right: calc(1em + .25em)
}

@media screen and (max-width:768px) {

	.button.is-responsive,
	.button.is-responsive.is-normal {
		font-size: .65625rem
	}

	.button.is-responsive.is-medium {
		font-size: .75rem
	}
}

@media screen and (min-width:769px) and (max-width:1023px) {

	.button.is-responsive,
	.button.is-responsive.is-normal {
		font-size: .75rem
	}

	.button.is-responsive.is-medium {
		font-size: 1rem
	}
}

.container {
	flex-grow: 1;
	margin: 0 auto;
	position: relative;
	width: auto
}

@media screen and (min-width:1024px) {
	.container {
		max-width: 960px
	}
}

@media screen and (max-width:1215px) {
	.container.is-widescreen:not(.is-max-desktop) {
		max-width: 1152px
	}
}

@media screen and (min-width:1216px) {
	.container:not(.is-max-desktop) {
		max-width: 1152px
	}
}

@media screen and (min-width:1408px) {
	.container:not(.is-max-desktop):not(.is-max-widescreen) {
		max-width: 1344px
	}
}

.content li+li {
	margin-top: .25em
}

.content p:not(:last-child),
.content ul:not(:last-child) {
	margin-bottom: 1em
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	color: #363636;
	font-weight: 600;
	line-height: 1.125
}

.content h1 {
	font-size: 2em;
	margin-bottom: .5em
}

.content h1:not(:first-child) {
	margin-top: 1em
}

.content h2 {
	font-size: 1.75em;
	margin-bottom: .5714em
}

.content h2:not(:first-child) {
	margin-top: 1.1428em
}

.content h3 {
	font-size: 1.5em;
	margin-bottom: .6666em
}

.content h3:not(:first-child) {
	margin-top: 1.3333em
}

.content h4 {
	font-size: 1.25em;
	margin-bottom: .8em
}

.content h5 {
	font-size: 1.125em;
	margin-bottom: .8888em
}

.content h6 {
	font-size: 1em;
	margin-bottom: 1em
}

.content ul {
	list-style: disc outside;
	margin-left: 2em;
	margin-top: 1em
}

.content ul ul {
	list-style-type: circle;
	margin-top: .5em
}

.content ul ul ul {
	list-style-type: square
}

.content dd {
	margin-left: 2em
}

.content figure {
	margin-left: 2em;
	margin-right: 2em;
	text-align: center
}

.content figure:not(:first-child) {
	margin-top: 2em
}

.content figure:not(:last-child) {
	margin-bottom: 2em
}

.content figure img {
	display: inline-block
}

.content figure figcaption {
	font-style: italic
}

.content sub {
	font-size: 75%
}

.content.is-normal {
	font-size: 1rem
}

.content.is-medium {
	font-size: 1.25rem
}

.icon {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	height: 1.5rem;
	width: 1.5rem
}

.icon.is-medium {
	height: 2rem;
	width: 2rem
}

.icon-text {
	align-items: flex-start;
	color: inherit;
	display: inline-flex;
	flex-wrap: wrap;
	line-height: 1.5rem;
	vertical-align: top
}

.icon-text .icon {
	flex-grow: 0;
	flex-shrink: 0
}

.icon-text .icon:not(:last-child) {
	margin-right: .25em
}

.icon-text .icon:not(:first-child) {
	margin-left: .25em
}

div.icon-text {
	display: flex
}

.image {
	display: block;
	position: relative
}

.image img {
	display: block;
	height: auto;
	width: 100%
}

.image img.is-rounded {
	border-radius: 9999px
}

.image.is-16by9 img,
.image.is-1by1 img,
.image.is-1by2 img,
.image.is-1by3 img,
.image.is-2by1 img,
.image.is-2by3 img,
.image.is-3by1 img,
.image.is-3by2 img,
.image.is-3by4 img,
.image.is-3by5 img,
.image.is-4by3 img,
.image.is-4by5 img,
.image.is-5by3 img,
.image.is-5by4 img,
.image.is-9by16 img,
.image.is-square img {
	height: 100%;
	width: 100%
}

.image.is-1by1,
.image.is-square {
	padding-top: 100%
}

.image.is-5by4 {
	padding-top: 80%
}

.image.is-4by3 {
	padding-top: 75%
}

.image.is-3by2 {
	padding-top: 66.6666%
}

.image.is-5by3 {
	padding-top: 60%
}

.image.is-16by9 {
	padding-top: 56.25%
}

.image.is-2by1 {
	padding-top: 50%
}

.image.is-3by1 {
	padding-top: 33.3333%
}

.image.is-4by5 {
	padding-top: 125%
}

.image.is-3by4 {
	padding-top: 133.3333%
}

.image.is-2by3 {
	padding-top: 150%
}

.image.is-3by5 {
	padding-top: 166.6666%
}

.image.is-9by16 {
	padding-top: 177.7777%
}

.image.is-1by2 {
	padding-top: 200%
}

.image.is-1by3 {
	padding-top: 300%
}

.image.is-16x16 {
	height: 16px;
	width: 16px
}

.image.is-24x24 {
	height: 24px;
	width: 24px
}

.image.is-32x32 {
	height: 32px;
	width: 32px
}

.image.is-48x48 {
	height: 48px;
	width: 48px
}

.image.is-64x64 {
	height: 64px;
	width: 64px
}

.image.is-96x96 {
	height: 96px;
	width: 96px
}

.image.is-128x128 {
	height: 128px;
	width: 128px
}

@-webkit-keyframes moveIndeterminate {
	from {
		background-position: 200% 0
	}

	to {
		background-position: -200% 0
	}
}

@keyframes moveIndeterminate {
	from {
		background-position: 200% 0
	}

	to {
		background-position: -200% 0
	}
}

.tag:not(body) {
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 4px;
	color: #141c3a;
	display: inline-flex;
	font-size: .75rem;
	height: 2em;
	justify-content: center;
	line-height: 1.5;
	padding-left: .75em;
	padding-right: .75em;
	white-space: nowrap
}

.tag:not(body).is-white {
	background-color: #fff;
	color: #0a0a0a
}

.tag:not(body).is-black {
	background-color: #0a0a0a;
	color: #fff
}

.tag:not(body).is-light {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, .7)
}

.tag:not(body).is-dark {
	background-color: #141c3a;
	color: #fff
}

.tag:not(body).is-primary {
	background-color: #6e07f3;
	color: #fff
}

.tag:not(body).is-primary.is-light {
	background-color: #f4ebfe;
	color: #730cf8
}

.tag:not(body).is-link {
	background-color: #1a8cff;
	color: #fff
}

.tag:not(body).is-link.is-light {
	background-color: #ebf5ff;
	color: #0068d1
}

.tag:not(body).is-info {
	background-color: #3e8ed0;
	color: #fff
}

.tag:not(body).is-info.is-light {
	background-color: #eff5fb;
	color: #296fa8
}

.tag:not(body).is-success {
	background-color: #5be9b9;
	color: rgba(0, 0, 0, .7)
}

.tag:not(body).is-success.is-light {
	background-color: #edfdf7;
	color: #11825c
}

.tag:not(body).is-warning {
	background-color: #ffe08a;
	color: rgba(0, 0, 0, .7)
}

.tag:not(body).is-warning.is-light {
	background-color: #fffaeb;
	color: #946c00
}

.tag:not(body).is-danger {
	background-color: #f14668;
	color: #fff
}

.tag:not(body).is-danger.is-light {
	background-color: #feecf0;
	color: #cc0f35
}

.tag:not(body).is-normal {
	font-size: .75rem
}

.tag:not(body).is-medium {
	font-size: 1rem
}

.tag:not(body).is-large {
	font-size: 1.25rem
}

.tag:not(body) .icon:first-child:not(:last-child) {
	margin-left: -.375em;
	margin-right: .1875em
}

.tag:not(body) .icon:last-child:not(:first-child) {
	margin-left: .1875em;
	margin-right: -.375em
}

.tag:not(body) .icon:first-child:last-child {
	margin-left: -.375em;
	margin-right: -.375em
}

.tag:not(body).is-delete {
	margin-left: 1px;
	padding: 0;
	position: relative;
	width: 2em
}

.tag:not(body).is-delete::after,
.tag:not(body).is-delete::before {
	background-color: currentColor;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transform-origin: center center;
	transform-origin: center center
}

.tag:not(body).is-delete::before {
	height: 1px;
	width: 50%
}

.tag:not(body).is-delete::after {
	height: 50%;
	width: 1px
}

.tag:not(body).is-delete:focus,
.tag:not(body).is-delete:hover {
	background-color: #e8e8e8
}

.tag:not(body).is-delete:active {
	background-color: #dbdbdb
}

.tag:not(body).is-rounded {
	border-radius: 9999px
}

a.tag:hover {
	text-decoration: underline
}

.subtitle,
.title {
	word-break: break-word
}

.subtitle span,
.title span {
	font-weight: inherit
}

.subtitle sub,
.title sub {
	font-size: .75em
}

.subtitle .tag,
.title .tag {
	vertical-align: middle
}

.title {
	color: #363636;
	font-size: 2rem;
	font-weight: 800;
	line-height: 1.125
}

.title strong {
	color: inherit;
	font-weight: inherit
}

.title:not(.is-spaced)+.subtitle {
	margin-top: -1.25rem
}

.title.is-1 {
	font-size: 3rem
}

.title.is-2 {
	font-size: 2.5rem
}

.title.is-3 {
	font-size: 2rem
}

.title.is-4 {
	font-size: 1.5rem
}

.title.is-5 {
	font-size: 1.25rem
}

.title.is-6 {
	font-size: 1rem
}

.title.is-7 {
	font-size: .75rem
}

.subtitle {
	color: #141c3a;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.25
}

.subtitle strong {
	color: #363636;
	font-weight: 600
}

.subtitle:not(.is-spaced)+.title {
	margin-top: -1.25rem
}

.subtitle.is-1 {
	font-size: 3rem
}

.subtitle.is-2 {
	font-size: 2.5rem
}

.subtitle.is-3 {
	font-size: 2rem
}

.subtitle.is-4 {
	font-size: 1.5rem
}

.subtitle.is-5 {
	font-size: 1.25rem
}

.subtitle.is-6 {
	font-size: 1rem
}

.subtitle.is-7 {
	font-size: .75rem
}

.heading {
	display: block;
	font-size: 11px;
	letter-spacing: 1px;
	margin-bottom: 5px;
	text-transform: uppercase
}

.level {
	align-items: center;
	justify-content: space-between
}

.level code {
	border-radius: 4px
}

.level img {
	display: inline-block;
	vertical-align: top
}

.level.is-mobile {
	display: flex
}

.level.is-mobile .level-right {
	display: flex
}

.level.is-mobile .level-item:not(:last-child) {
	margin-bottom: 0;
	margin-right: .75rem
}

.level.is-mobile .level-item:not(.is-narrow) {
	flex-grow: 1
}

@media screen and (min-width:769px),
print {
	.level {
		display: flex
	}

	.level>.level-item:not(.is-narrow) {
		flex-grow: 1
	}
}

.level-item {
	align-items: center;
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center
}

.level-item .subtitle,
.level-item .title {
	margin-bottom: 0
}

@media screen and (max-width:768px) {
	.level-item:not(:last-child) {
		margin-bottom: .75rem
	}
}

.level-right {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0
}

.level-right .level-item.is-flexible {
	flex-grow: 1
}

@media screen and (min-width:769px),
print {
	.level-right .level-item:not(:last-child) {
		margin-right: .75rem
	}
}

.level-right {
	align-items: center;
	justify-content: flex-end
}

@media screen and (min-width:769px),
print {
	.level-right {
		display: flex
	}
}

.menu {
	font-size: 1rem
}

.menu.is-medium {
	font-size: 1.25rem
}

.message {
	background-color: #f5f5f5;
	border-radius: 4px;
	font-size: 1rem
}

.message strong {
	color: currentColor
}

.message a:not(.button):not(.tag):not(.dropdown-item) {
	color: currentColor;
	text-decoration: underline
}

.message.is-medium {
	font-size: 1.25rem
}

.message.is-white {
	background-color: #fff
}

.message.is-white .message-header {
	background-color: #fff;
	color: #0a0a0a
}

.message.is-white .message-body {
	border-color: #fff
}

.message.is-light {
	background-color: #fafafa
}

.message.is-light .message-header {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, .7)
}

.message.is-light .message-body {
	border-color: #f5f5f5
}

.message.is-primary {
	background-color: #f4ebfe
}

.message.is-primary .message-header {
	background-color: #6e07f3;
	color: #fff
}

.message.is-primary .message-body {
	border-color: #6e07f3;
	color: #730cf8
}

.message.is-link {
	background-color: #ebf5ff
}

.message.is-link .message-header {
	background-color: #1a8cff;
	color: #fff
}

.message.is-link .message-body {
	border-color: #1a8cff;
	color: #0068d1
}

.message.is-info {
	background-color: #eff5fb
}

.message.is-info .message-header {
	background-color: #3e8ed0;
	color: #fff
}

.message.is-info .message-body {
	border-color: #3e8ed0;
	color: #296fa8
}

.message.is-success {
	background-color: #edfdf7
}

.message.is-success .message-header {
	background-color: #5be9b9;
	color: rgba(0, 0, 0, .7)
}

.message.is-success .message-body {
	border-color: #5be9b9;
	color: #11825c
}

.message.is-danger {
	background-color: #feecf0
}

.message.is-danger .message-header {
	background-color: #f14668;
	color: #fff
}

.message.is-danger .message-body {
	border-color: #f14668;
	color: #cc0f35
}

.message-header {
	align-items: center;
	background-color: #141c3a;
	border-radius: 4px 4px 0 0;
	color: #fff;
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	line-height: 1.25;
	padding: .75em 1em;
	position: relative
}

.message-header+.message-body {
	border-width: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0
}

.message-body {
	border-color: #dbdbdb;
	border-radius: 4px;
	border-style: solid;
	border-width: 0 0 0 4px;
	color: #141c3a;
	padding: 1.25em 1.5em
}

.message-body code {
	background-color: #fff
}

.column {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: .75rem
}

.columns.is-mobile>.column.is-narrow {
	flex: none;
	width: unset
}

.columns.is-mobile>.column.is-full {
	flex: none;
	width: 100%
}

.columns.is-mobile>.column.is-half {
	flex: none;
	width: 50%
}

.columns.is-mobile>.column.is-one-third {
	flex: none;
	width: 33.3333%
}

.columns.is-mobile>.column.is-three-fifths {
	flex: none;
	width: 60%
}

.columns.is-mobile>.column.is-0 {
	flex: none;
	width: 0%
}

.columns.is-mobile>.column.is-1 {
	flex: none;
	width: 8.33333337%
}

.columns.is-mobile>.column.is-2 {
	flex: none;
	width: 16.66666674%
}

.columns.is-mobile>.column.is-3 {
	flex: none;
	width: 25%
}

.columns.is-mobile>.column.is-4 {
	flex: none;
	width: 33.33333337%
}

.columns.is-mobile>.column.is-5 {
	flex: none;
	width: 41.66666674%
}

.columns.is-mobile>.column.is-6 {
	flex: none;
	width: 50%
}

.columns.is-mobile>.column.is-7 {
	flex: none;
	width: 58.33333337%
}

.columns.is-mobile>.column.is-8 {
	flex: none;
	width: 66.66666674%
}

.columns.is-mobile>.column.is-9 {
	flex: none;
	width: 75%
}

.columns.is-mobile>.column.is-10 {
	flex: none;
	width: 83.33333337%
}

.columns.is-mobile>.column.is-11 {
	flex: none;
	width: 91.66666674%
}

.columns.is-mobile>.column.is-12 {
	flex: none;
	width: 100%
}

@media screen and (max-width:768px) {
	.column.is-narrow-mobile {
		flex: none;
		width: unset
	}

	.column.is-full-mobile {
		flex: none;
		width: 100%
	}

	.column.is-half-mobile {
		flex: none;
		width: 50%
	}

	.column.is-one-third-mobile {
		flex: none;
		width: 33.3333%
	}

	.column.is-three-fifths-mobile {
		flex: none;
		width: 60%
	}

	.column.is-0-mobile {
		flex: none;
		width: 0%
	}

	.column.is-1-mobile {
		flex: none;
		width: 8.33333337%
	}

	.column.is-2-mobile {
		flex: none;
		width: 16.66666674%
	}

	.column.is-3-mobile {
		flex: none;
		width: 25%
	}

	.column.is-4-mobile {
		flex: none;
		width: 33.33333337%
	}

	.column.is-5-mobile {
		flex: none;
		width: 41.66666674%
	}

	.column.is-6-mobile {
		flex: none;
		width: 50%
	}

	.column.is-7-mobile {
		flex: none;
		width: 58.33333337%
	}

	.column.is-8-mobile {
		flex: none;
		width: 66.66666674%
	}

	.column.is-9-mobile {
		flex: none;
		width: 75%
	}

	.column.is-10-mobile {
		flex: none;
		width: 83.33333337%
	}

	.column.is-11-mobile {
		flex: none;
		width: 91.66666674%
	}

	.column.is-12-mobile {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:769px),
print {

	.column.is-narrow,
	.column.is-narrow-tablet {
		flex: none;
		width: unset
	}

	.column.is-full,
	.column.is-full-tablet {
		flex: none;
		width: 100%
	}

	.column.is-half,
	.column.is-half-tablet {
		flex: none;
		width: 50%
	}

	.column.is-one-third,
	.column.is-one-third-tablet {
		flex: none;
		width: 33.3333%
	}

	.column.is-three-fifths,
	.column.is-three-fifths-tablet {
		flex: none;
		width: 60%
	}

	.column.is-0,
	.column.is-0-tablet {
		flex: none;
		width: 0%
	}

	.column.is-1,
	.column.is-1-tablet {
		flex: none;
		width: 8.33333337%
	}

	.column.is-2,
	.column.is-2-tablet {
		flex: none;
		width: 16.66666674%
	}

	.column.is-3,
	.column.is-3-tablet {
		flex: none;
		width: 25%
	}

	.column.is-4,
	.column.is-4-tablet {
		flex: none;
		width: 33.33333337%
	}

	.column.is-5,
	.column.is-5-tablet {
		flex: none;
		width: 41.66666674%
	}

	.column.is-6,
	.column.is-6-tablet {
		flex: none;
		width: 50%
	}

	.column.is-7,
	.column.is-7-tablet {
		flex: none;
		width: 58.33333337%
	}

	.column.is-8,
	.column.is-8-tablet {
		flex: none;
		width: 66.66666674%
	}

	.column.is-9,
	.column.is-9-tablet {
		flex: none;
		width: 75%
	}

	.column.is-10,
	.column.is-10-tablet {
		flex: none;
		width: 83.33333337%
	}

	.column.is-11,
	.column.is-11-tablet {
		flex: none;
		width: 91.66666674%
	}

	.column.is-12,
	.column.is-12-tablet {
		flex: none;
		width: 100%
	}
}

@media screen and (max-width:1023px) {
	.column.is-narrow-touch {
		flex: none;
		width: unset
	}

	.column.is-full-touch {
		flex: none;
		width: 100%
	}

	.column.is-half-touch {
		flex: none;
		width: 50%
	}

	.column.is-one-third-touch {
		flex: none;
		width: 33.3333%
	}

	.column.is-three-fifths-touch {
		flex: none;
		width: 60%
	}

	.column.is-0-touch {
		flex: none;
		width: 0%
	}

	.column.is-1-touch {
		flex: none;
		width: 8.33333337%
	}

	.column.is-2-touch {
		flex: none;
		width: 16.66666674%
	}

	.column.is-3-touch {
		flex: none;
		width: 25%
	}

	.column.is-4-touch {
		flex: none;
		width: 33.33333337%
	}

	.column.is-5-touch {
		flex: none;
		width: 41.66666674%
	}

	.column.is-6-touch {
		flex: none;
		width: 50%
	}

	.column.is-7-touch {
		flex: none;
		width: 58.33333337%
	}

	.column.is-8-touch {
		flex: none;
		width: 66.66666674%
	}

	.column.is-9-touch {
		flex: none;
		width: 75%
	}

	.column.is-10-touch {
		flex: none;
		width: 83.33333337%
	}

	.column.is-11-touch {
		flex: none;
		width: 91.66666674%
	}

	.column.is-12-touch {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:1024px) {
	.column.is-narrow-desktop {
		flex: none;
		width: unset
	}

	.column.is-full-desktop {
		flex: none;
		width: 100%
	}

	.column.is-half-desktop {
		flex: none;
		width: 50%
	}

	.column.is-one-third-desktop {
		flex: none;
		width: 33.3333%
	}

	.column.is-three-fifths-desktop {
		flex: none;
		width: 60%
	}

	.column.is-0-desktop {
		flex: none;
		width: 0%
	}

	.column.is-1-desktop {
		flex: none;
		width: 8.33333337%
	}

	.column.is-2-desktop {
		flex: none;
		width: 16.66666674%
	}

	.column.is-3-desktop {
		flex: none;
		width: 25%
	}

	.column.is-4-desktop {
		flex: none;
		width: 33.33333337%
	}

	.column.is-5-desktop {
		flex: none;
		width: 41.66666674%
	}

	.column.is-6-desktop {
		flex: none;
		width: 50%
	}

	.column.is-7-desktop {
		flex: none;
		width: 58.33333337%
	}

	.column.is-8-desktop {
		flex: none;
		width: 66.66666674%
	}

	.column.is-9-desktop {
		flex: none;
		width: 75%
	}

	.column.is-10-desktop {
		flex: none;
		width: 83.33333337%
	}

	.column.is-11-desktop {
		flex: none;
		width: 91.66666674%
	}

	.column.is-12-desktop {
		flex: none;
		width: 100%
	}
}

@media screen and (min-width:1216px) {
	.column.is-narrow-widescreen {
		flex: none;
		width: unset
	}

	.column.is-full-widescreen {
		flex: none;
		width: 100%
	}

	.column.is-half-widescreen {
		flex: none;
		width: 50%
	}

	.column.is-one-third-widescreen {
		flex: none;
		width: 33.3333%
	}

	.column.is-three-fifths-widescreen {
		flex: none;
		width: 60%
	}

	.column.is-0-widescreen {
		flex: none;
		width: 0%
	}

	.column.is-1-widescreen {
		flex: none;
		width: 8.33333337%
	}

	.column.is-2-widescreen {
		flex: none;
		width: 16.66666674%
	}

	.column.is-3-widescreen {
		flex: none;
		width: 25%
	}

	.column.is-4-widescreen {
		flex: none;
		width: 33.33333337%
	}

	.column.is-5-widescreen {
		flex: none;
		width: 41.66666674%
	}

	.column.is-6-widescreen {
		flex: none;
		width: 50%
	}

	.column.is-7-widescreen {
		flex: none;
		width: 58.33333337%
	}

	.column.is-8-widescreen {
		flex: none;
		width: 66.66666674%
	}

	.column.is-9-widescreen {
		flex: none;
		width: 75%
	}

	.column.is-10-widescreen {
		flex: none;
		width: 83.33333337%
	}

	.column.is-11-widescreen {
		flex: none;
		width: 91.66666674%
	}

	.column.is-12-widescreen {
		flex: none;
		width: 100%
	}
}

.columns {
	margin-left: -.75rem;
	margin-right: -.75rem;
	margin-top: -.75rem
}

.columns:last-child {
	margin-bottom: -.75rem
}

.columns:not(:last-child) {
	margin-bottom: calc(1.5rem - .75rem)
}

.columns.is-centered {
	justify-content: center
}

.columns.is-mobile {
	display: flex
}

.columns.is-multiline {
	flex-wrap: wrap
}

@media screen and (min-width:769px),
print {
	.columns:not(.is-desktop) {
		display: flex
	}
}

@media screen and (min-width:1024px) {
	.columns.is-desktop {
		display: flex
	}
}

.has-text-white {
	color: #fff !important
}

a.has-text-white:focus,
a.has-text-white:hover {
	color: #e6e6e6 !important
}

.has-background-white {
	background-color: #fff !important
}

.has-text-light {
	color: #f5f5f5 !important
}

a.has-text-light:focus,
a.has-text-light:hover {
	color: #dbdbdb !important
}

.has-background-light {
	background-color: #f5f5f5 !important
}

.has-text-primary {
	color: #6e07f3 !important
}

a.has-text-primary:focus,
a.has-text-primary:hover {
	color: #5806c1 !important
}

.has-background-primary {
	background-color: #6e07f3 !important
}

.has-text-primary-light {
	color: #f4ebfe !important
}

a.has-text-primary-light:focus,
a.has-text-primary-light:hover {
	color: #d7bafd !important
}

.has-background-primary-light {
	background-color: #f4ebfe !important
}

.has-text-link {
	color: #1a8cff !important
}

a.has-text-link:focus,
a.has-text-link:hover {
	color: #0072e6 !important
}

.has-background-link {
	background-color: #1a8cff !important
}

.has-text-link-light {
	color: #ebf5ff !important
}

a.has-text-link-light:focus,
a.has-text-link-light:hover {
	color: #b8dbff !important
}

.has-background-link-light {
	background-color: #ebf5ff !important
}

.has-text-info {
	color: #3e8ed0 !important
}

a.has-text-info:focus,
a.has-text-info:hover {
	color: #2b74b1 !important
}

.has-background-info {
	background-color: #3e8ed0 !important
}

.has-text-info-light {
	color: #eff5fb !important
}

a.has-text-info-light:focus,
a.has-text-info-light:hover {
	color: #c6ddf1 !important
}

.has-background-info-light {
	background-color: #eff5fb !important
}

.has-text-success {
	color: #5be9b9 !important
}

a.has-text-success:focus,
a.has-text-success:hover {
	color: #2ee3a6 !important
}

.has-background-success {
	background-color: #5be9b9 !important
}

.has-text-success-light {
	color: #edfdf7 !important
}

a.has-text-success-light:focus,
a.has-text-success-light:hover {
	color: #c0f7e4 !important
}

.has-background-success-light {
	background-color: #edfdf7 !important
}

.has-text-danger {
	color: #f14668 !important
}

a.has-text-danger:focus,
a.has-text-danger:hover {
	color: #ee1742 !important
}

.has-background-danger {
	background-color: #f14668 !important
}

.has-text-danger-light {
	color: #feecf0 !important
}

a.has-text-danger-light:focus,
a.has-text-danger-light:hover {
	color: #fabdc9 !important
}

.has-background-danger-light {
	background-color: #feecf0 !important
}

.m-0 {
	margin: 0 !important
}

.mr-0 {
	margin-right: 0 !important
}

.mb-0 {
	margin-bottom: 0 !important
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important
}

.m-1 {
	margin: .25rem !important
}

.mr-1 {
	margin-right: .25rem !important
}

.mb-1 {
	margin-bottom: .25rem !important
}

.my-1 {
	margin-top: .25rem !important;
	margin-bottom: .25rem !important
}

.m-2 {
	margin: .5rem !important
}

.mr-2 {
	margin-right: .5rem !important
}

.mb-2 {
	margin-bottom: .5rem !important
}

.my-2 {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important
}

.m-3 {
	margin: .75rem !important
}

.mr-3 {
	margin-right: .75rem !important
}

.mb-3 {
	margin-bottom: .75rem !important
}

.my-3 {
	margin-top: .75rem !important;
	margin-bottom: .75rem !important
}

.m-4 {
	margin: 1rem !important
}

.mr-4 {
	margin-right: 1rem !important
}

.mb-4 {
	margin-bottom: 1rem !important
}

.my-4 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important
}

.m-5 {
	margin: 1.5rem !important
}

.mr-5 {
	margin-right: 1.5rem !important
}

.mb-5 {
	margin-bottom: 1.5rem !important
}

.my-5 {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important
}

.m-6 {
	margin: 3rem !important
}

.mr-6 {
	margin-right: 3rem !important
}

.mb-6 {
	margin-bottom: 3rem !important
}

.my-6 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important
}

.p-0 {
	padding: 0 !important
}

.p-1 {
	padding: .25rem !important
}

.p-2 {
	padding: .5rem !important
}

.p-3 {
	padding: .75rem !important
}

.p-4 {
	padding: 1rem !important
}

.p-5 {
	padding: 1.5rem !important
}

.p-6 {
	padding: 3rem !important
}

.is-size-1 {
	font-size: 3rem !important
}

.is-size-2 {
	font-size: 2.5rem !important
}

.is-size-3 {
	font-size: 2rem !important
}

.is-size-4 {
	font-size: 1.5rem !important
}

.is-size-5 {
	font-size: 1.25rem !important
}

.is-size-6 {
	font-size: 1rem !important
}

.is-size-7 {
	font-size: .75rem !important
}

@media screen and (max-width:768px) {
	.is-size-1-mobile {
		font-size: 3rem !important
	}

	.is-size-2-mobile {
		font-size: 2.5rem !important
	}

	.is-size-3-mobile {
		font-size: 2rem !important
	}

	.is-size-4-mobile {
		font-size: 1.5rem !important
	}

	.is-size-5-mobile {
		font-size: 1.25rem !important
	}

	.is-size-6-mobile {
		font-size: 1rem !important
	}

	.is-size-7-mobile {
		font-size: .75rem !important
	}
}

@media screen and (min-width:769px),
print {
	.is-size-1-tablet {
		font-size: 3rem !important
	}

	.is-size-2-tablet {
		font-size: 2.5rem !important
	}

	.is-size-3-tablet {
		font-size: 2rem !important
	}

	.is-size-4-tablet {
		font-size: 1.5rem !important
	}

	.is-size-5-tablet {
		font-size: 1.25rem !important
	}

	.is-size-6-tablet {
		font-size: 1rem !important
	}

	.is-size-7-tablet {
		font-size: .75rem !important
	}
}

@media screen and (max-width:1023px) {
	.is-size-1-touch {
		font-size: 3rem !important
	}

	.is-size-2-touch {
		font-size: 2.5rem !important
	}

	.is-size-3-touch {
		font-size: 2rem !important
	}

	.is-size-4-touch {
		font-size: 1.5rem !important
	}

	.is-size-5-touch {
		font-size: 1.25rem !important
	}

	.is-size-6-touch {
		font-size: 1rem !important
	}

	.is-size-7-touch {
		font-size: .75rem !important
	}
}

@media screen and (min-width:1024px) {
	.is-size-1-desktop {
		font-size: 3rem !important
	}

	.is-size-2-desktop {
		font-size: 2.5rem !important
	}

	.is-size-3-desktop {
		font-size: 2rem !important
	}

	.is-size-4-desktop {
		font-size: 1.5rem !important
	}

	.is-size-5-desktop {
		font-size: 1.25rem !important
	}

	.is-size-6-desktop {
		font-size: 1rem !important
	}

	.is-size-7-desktop {
		font-size: .75rem !important
	}
}

@media screen and (min-width:1216px) {
	.is-size-1-widescreen {
		font-size: 3rem !important
	}

	.is-size-2-widescreen {
		font-size: 2.5rem !important
	}

	.is-size-3-widescreen {
		font-size: 2rem !important
	}

	.is-size-4-widescreen {
		font-size: 1.5rem !important
	}

	.is-size-5-widescreen {
		font-size: 1.25rem !important
	}

	.is-size-6-widescreen {
		font-size: 1rem !important
	}

	.is-size-7-widescreen {
		font-size: .75rem !important
	}
}

.has-text-centered {
	text-align: center !important
}

.has-text-right {
	text-align: right !important
}

@media screen and (max-width:768px) {
	.has-text-centered-mobile {
		text-align: center !important
	}
}

@media screen and (min-width:769px),
print {
	.has-text-centered-tablet {
		text-align: center !important
	}
}

@media screen and (max-width:1023px) {
	.has-text-centered-touch {
		text-align: center !important
	}
}

@media screen and (min-width:1024px) {
	.has-text-centered-desktop {
		text-align: center !important
	}
}

@media screen and (min-width:1216px) {
	.has-text-centered-widescreen {
		text-align: center !important
	}
}

@media screen and (max-width:768px) {
	.has-text-right-mobile {
		text-align: right !important
	}
}

@media screen and (min-width:769px),
print {
	.has-text-right-tablet {
		text-align: right !important
	}
}

@media screen and (max-width:1023px) {
	.has-text-right-touch {
		text-align: right !important
	}
}

@media screen and (min-width:1024px) {
	.has-text-right-desktop {
		text-align: right !important
	}
}

@media screen and (min-width:1216px) {
	.has-text-right-widescreen {
		text-align: right !important
	}
}

.has-text-weight-light {
	font-weight: 300 !important
}

.has-text-weight-normal {
	font-weight: 400 !important
}

.has-text-weight-medium {
	font-weight: 500 !important
}

.has-text-weight-bold {
	font-weight: 700 !important
}

.is-family-primary {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important
}

.is-family-code {
	font-family: monospace !important
}

.hero {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.hero.is-white {
	background-color: #fff;
	color: #0a0a0a
}

.hero.is-white a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-white strong {
	color: inherit
}

.hero.is-white .title {
	color: #0a0a0a
}

.hero.is-white .subtitle {
	color: rgba(10, 10, 10, .9)
}

.hero.is-white .subtitle a:not(.button),
.hero.is-white .subtitle strong {
	color: #0a0a0a
}

.hero.is-white.is-bold {
	background-image: linear-gradient(141deg, #e8e3e4 0, #fff 71%, #fff 100%)
}

.hero.is-light {
	background-color: #f5f5f5;
	color: rgba(0, 0, 0, .7)
}

.hero.is-light a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-light strong {
	color: inherit
}

.hero.is-light .title {
	color: rgba(0, 0, 0, .7)
}

.hero.is-light .subtitle {
	color: rgba(0, 0, 0, .9)
}

.hero.is-light .subtitle a:not(.button),
.hero.is-light .subtitle strong {
	color: rgba(0, 0, 0, .7)
}

.hero.is-light.is-bold {
	background-image: linear-gradient(141deg, #dfd8d9 0, #f5f5f5 71%, #fff 100%)
}

.hero.is-primary {
	background-color: #6e07f3;
	color: #fff
}

.hero.is-primary a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-primary strong {
	color: inherit
}

.hero.is-primary .title {
	color: #fff
}

.hero.is-primary .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-primary .subtitle a:not(.button),
.hero.is-primary .subtitle strong {
	color: #fff
}

.hero.is-primary.is-bold {
	background-image: linear-gradient(141deg, #3600c7 0, #6e07f3 71%, #a215fe 100%)
}

.hero.is-link {
	background-color: #1a8cff;
	color: #fff
}

.hero.is-link a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-link strong {
	color: inherit
}

.hero.is-link .title {
	color: #fff
}

.hero.is-link .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-link .subtitle a:not(.button),
.hero.is-link .subtitle strong {
	color: #fff
}

.hero.is-link.is-bold {
	background-image: linear-gradient(141deg, #0099e6 0, #1a8cff 71%, #3477ff 100%)
}

.hero.is-info {
	background-color: #3e8ed0;
	color: #fff
}

.hero.is-info a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-info strong {
	color: inherit
}

.hero.is-info .title {
	color: #fff
}

.hero.is-info .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-info .subtitle a:not(.button),
.hero.is-info .subtitle strong {
	color: #fff
}

.hero.is-info.is-bold {
	background-image: linear-gradient(141deg, #208fbc 0, #3e8ed0 71%, #4d83db 100%)
}

.hero.is-success {
	background-color: #5be9b9;
	color: rgba(0, 0, 0, .7)
}

.hero.is-success a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-success strong {
	color: inherit
}

.hero.is-success .title {
	color: rgba(0, 0, 0, .7)
}

.hero.is-success .subtitle {
	color: rgba(0, 0, 0, .9)
}

.hero.is-success .subtitle a:not(.button),
.hero.is-success .subtitle strong {
	color: rgba(0, 0, 0, .7)
}

.hero.is-success.is-bold {
	background-image: linear-gradient(141deg, #22ef88 0, #5be9b9 71%, #6df0da 100%)
}

.hero.is-danger {
	background-color: #f14668;
	color: #fff
}

.hero.is-danger a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-danger strong {
	color: inherit
}

.hero.is-danger .title {
	color: #fff
}

.hero.is-danger .subtitle {
	color: rgba(255, 255, 255, .9)
}

.hero.is-danger .subtitle a:not(.button),
.hero.is-danger .subtitle strong {
	color: #fff
}

.hero.is-danger.is-bold {
	background-image: linear-gradient(141deg, #fa0a62 0, #f14668 71%, #f7595f 100%)
}

@media screen and (min-width:769px),
print {
	.hero.is-medium .hero-body {
		padding: 9rem 4.5rem
	}
}

.hero-head {
	flex-grow: 0;
	flex-shrink: 0
}

.hero-body {
	flex-grow: 1;
	flex-shrink: 0;
	padding: 3rem 1.5rem
}

@media screen and (min-width:769px),
print {
	.hero-body {
		padding: 3rem 3rem
	}
}

.section {
	padding: 3rem 1.5rem
}

@media screen and (min-width:1024px) {
	.section {
		padding: 3rem 3rem
	}

	.section.is-medium {
		padding: 9rem 4.5rem
	}
}

.footer {
	background-color: #fafafa;
	padding: 3rem 1.5rem 6rem
}

html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: eurostile, sans-serif;
	font-weight: 800
}

body {
	font-size: 17px
}

@media screen and (min-width:769px) {
	body {
		font-size: 18px
	}
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	font-family: eurostile, sans-serif;
	font-weight: 800;
	color: #141c3a
}

.content p {
	font-size: 18px;
	line-height: 1.5
}

.content p:not(:last-child) {
	margin-bottom: 2em
}

@media screen and (min-width:769px) {
	.content p {
		font-size: 19px
	}
}

.title {
	color: #141c3a;
	font-weight: 800
}

.subtitle {
	font-family: europa, sans-serif;
	line-height: 1.5
}

.button,
a {
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	font-weight: 400
}

a {
	color: #1a8cff
}

a:hover {
	color: #0066cd
}

.button {
	font-family: europa, sans-serif
}

.button.is-outlined {
	border-width: 2px
}

.has-text-success {
	color: #5be9b9 !important
}

.container.is-narrow {
	max-width: 1200px
}

.box {
	border-radius: 12px
}

.hero {
	padding-top: 2rem
}

.hero.is-white .title {
	color: #141c3a
}

.section {
	padding: 5rem 1.5rem
}

.section.is-primary {
	background-color: #6e07f3;
	color: #fff
}

.section.is-primary .title {
	color: #fff
}

.section.is-primary .subtitle {
	color: #fff
}

.section.is-long {
	padding-bottom: 14rem
}

@media screen and (min-width:769px) {
	.section.is-long {
		padding-bottom: 16rem
	}
}

@media screen and (min-width:1216px) {
	.section.is-long {
		padding-bottom: 18rem
	}
}

.section.is-long-ish {
	padding-bottom: 12rem
}

@media screen and (min-width:769px) {
	.section.is-long-ish {
		padding-bottom: 13rem
	}
}

@media screen and (min-width:1216px) {
	.section.is-long-ish {
		padding-bottom: 14rem
	}
}

.section p {
	margin-bottom: 2rem
}

.section.skills {
	margin-top: -14rem;
	padding-bottom: 1rem
}

.section.skills .box {
	padding: 0
}

.section.skills .box .content .columns {
	margin-left: 0;
	margin-right: 0
}

.section.skills .box .content .columns .column {
	padding: 50px 30px;
	border-bottom: 1px solid #e6ecf8;
	border-right: 0 solid #e6ecf8
}

@media screen and (min-width:769px) {
	.section.skills .box .content .columns .column {
		border-bottom: 0 solid #e6ecf8;
		border-right: 1px solid #e6ecf8;
		padding: 60px 35px
	}
}

@media screen and (min-width:1216px) {
	.section.skills .box .content .columns .column {
		padding: 70px 45px
	}
}

.section.skills .box .content .columns .column:last-child {
	border-right: none;
	border-bottom: none
}

.section.skills .box .content .columns .column figure.image {
	margin: 0 auto 2em
}

.section.skills .box .content .columns .column figure.image img.is-skill-icon {
	height: 48px;
	width: auto
}

@media screen and (min-width:769px) {
	.section.skills .box .content .columns .column p {
		font-size: 18px
	}
}

.section.skills .box .content .columns .column ul {
	list-style: none;
	margin-left: 0;
	margin-top: 0
}

.section.skills .box .content .columns .column .button.is-primary.is-outlined {
	padding: 1.1em;
	font-weight: 400;
	border-width: 2px;
	margin-top: 2rem;
	font-size: 18px
}

.projects .button.is-primary.is-outlined.is-medium {
	padding: 1.25em 2em;
	font-weight: 400;
	border-width: 2px;
	margin-top: 2rem
}

.projects .project-grid {
	padding: 2rem 0 4rem
}

@media screen and (min-width:769px) {
	.projects .project-grid {
		padding-top: 4rem
	}
}

.projects .project-grid figure {
	position: relative;
	overflow: hidden;
	border-radius: 12px
}

.projects .project-grid figure img.project-thumb {
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: .25s ease-in-out
}

.projects .project-grid figure figcaption {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 3rem;
	color: #fff;
	z-index: 1
}

@media screen and (min-width:769px) {
	.projects .project-grid figure figcaption {
		padding: 0 2rem
	}
}

.projects .project-grid figure figcaption h1.title {
	color: #fff;
	margin-bottom: 1.8rem;
	font-weight: 500
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
	margin: 0 auto;
	font-size: 18px;
	padding: 1.2rem;
	font-weight: 400;
	border-width: 2px;
	color: #fff
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon {
	margin-top: 4px;
	margin-left: 0
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded span.icon svg {
	width: 8px
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .45s ease-in-out
}

.projects .project-grid .overlay {
	background-color: #141c3a
}

.projects .project-grid figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
	opacity: 1
}

.section.startups {
	margin-top: -13rem;
	padding-bottom: 6rem
}

@media screen and (min-width:769px) {
	.section.startups {
		padding-bottom: 9rem;
		margin-top: -14rem
	}
}

.section.startups .startup-grid {
	margin-bottom: 4rem
}

@media screen and (min-width:769px) {
	.section.startups .startup-grid {
		margin-bottom: 6rem
	}
}

.section.startups .startup-grid .box {
	padding: 40px
}

@media screen and (min-width:769px) {
	.section.startups .startup-grid .box {
		padding: 60px 35px
	}
}

@media screen and (min-width:1216px) {
	.section.startups .startup-grid .box {
		padding: 60px 35px
	}
}

.section.startups .startup-grid .box img.logo {
	height: 36px;
	width: auto
}

.section.startups .startup-grid .box p {
	font-size: 16px
}

@media screen and (min-width:769px) {
	.section.startups .startup-grid .box p {
		font-size: 18px
	}
}

.section.startups .startup-grid .box a.link {
	font-weight: 400;
	font-size: 18px;
	border: none
}

.callout .title {
	font-size: 20px;
	font-weight: 500
}

@media screen and (min-width:769px) {
	.callout .title {
		font-size: 26px
	}
}

.callout .button {
	padding: 1.25em 2em;
	font-weight: 400;
	border-width: 2px;
	margin-top: 2rem
}

.section.call-to-action {
	padding: 5rem 1.5rem 2rem
}

.section.call-to-action .title,
.section.call-to-action p {
	color: #fff;
	margin-bottom: 0
}

.section.call-to-action .box {
	padding: 3.5rem 2rem;
	margin-top: -9rem;
	background-color: #141c3a;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2), 0 0 0 1px #141c3a
}

@media screen and (min-width:769px) {
	.section.call-to-action .box {
		padding: 3.5rem 1.25rem
	}
}

@media screen and (min-width:769px) {
	.section.call-to-action .box p {
		font-size: 18px
	}
}

.section.call-to-action .box .button.is-outlined.is-rounded.is-medium {
	color: #fff;
	padding: 1.25em 2em;
	font-weight: 400;
	border-width: 2px
}

.section.call-to-action .box .button.is-outlined.is-rounded.is-medium:hover {
	color: #141c3a
}

footer .title {
	font-size: 1.6rem;
	margin: 2rem auto;
	max-width: 300px;
	opacity: .8
}

@media screen and (min-width:769px) {
	footer .title {
		max-width: 320px
	}
}

::-webkit-scrollbar {
	width: 8px;
	border-left: 1px solid #e6ecf8
}

::-webkit-scrollbar-thumb {
	background-color: #141c3a
}

img.success {
	width: 100%;
	max-width: 300px;
	margin: 0 auto 32px
}

.tag:not(body).is-light {
	background-color: rgba(20, 28, 58, .08);
	color: #141c3a
}
